page-home {

.toolbar-background {
        background-color: rgb(144, 144, 144);
        height: 75px;
        border-radius: 2px;
}
.header{
    margin-top: 0px;
    height: 75px;
}
img {
         border-radius: 4px;
         padding: 16px;
         width: 85%;
         height: 100px ;
         align-items: center;
         margin-left: 30px;
         margin-top: -17px;
        
}
.icon{
    font-size: 40px;
}
    
.content{
    margin-top: 45px;
    background-color: orange;
    
}
.button{
    margin-top:20px;
    background-color: rgb(144, 144, 144);
    width: 95%;
    font-weight: bold;
    align-content: center;

}
.item{
    background-color: orange;
}
#botões{
    margin-top: 40px;
}
#sair{
    align-content: center;
    margin-top: 120px;
}
#botão_sair
{
    align-content: center;
    text-align: center;
}
#avatar{
    margin-top: 5px;
}


}